[mysqld]
user = mysql
default-storage-engine = InnoDB
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
explicit_defaults_for_timestamp = 1
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO

# logs
log-error = /var/log/mysql/error.log

# connection
max_connections = 200
max_connect_errors = 1000
wait_timeout = 600
interactive_timeout = 600

# InnoDB
innodb_buffer_pool_size = 256M
innodb_lock_wait_timeout = 50

# replication
skip_host_cache
skip_name_resolve
